body
{
	background-color: Gainsboro;
}
.Bwun 
{
	background-color: brown;
	font-family: 'Comic Sans MS';
	text-align: center;
}
.Btoo 
{
	background-color: darkcyan;
	font-family: 'Comic Sans MS';
	text-align: center;
}
.Btre
{
background-color: green;
font-family: 'Comic Sans MS';
text-align: center;
}

.button 
{
    position: absolute;
    top: 50%;
}
