body
{
	background-color: Black;
}
.Bwun 
{
	background-color: black;
	font-family: 'Comic Sans MS';
	text-align: center;
	h1 {
	color:white;
}
}
.Btoo 


.button 
{
    position: absolute;
    top: 50%;
}
